%body
  .chat-wrapper
    .chat-wrapper__header
      .chat-wrapper__header__back
      = link_to("back", board_path(@board.id), {class: "back"})
      .chat-wrapper__header__title
        Our chat!
      .chat-wrapper__header__list
      = link_to("To List", boards_path, {class: "home"})
    .chat-wrapper__container
      .chat-wrapper__container__left
        %h1.chat-wrapper__container__left_author
          作成者：
      .chat-wrapper__container__center
        .chat-wrapper__container__center__upper
        .chat-wrapper__container__center__bottom
          - @boards.each do |board|
            - @users.each do |user|
              .chat-wrapper__container__center__bottom__ctat-box
                .chat-wrapper__container__center__bottom__ctat-box_name
                  = user.name
                .chat-wrapper__container__center__bottom__ctat-box_message
                .chat-wrapper__container__center__bottom__ctat-box_date
                  = @chats.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .chat-wrapper__container__center__form
          .chat-wrapper__container__center__form__container
            = form_for [@board, @chat],html:{class:"form"} do |f|
              = f.text_field :content, class: 'form_chat', placeholder: 'コメントを入力してください'
              = f.label :image, class: 'image_box' do
                = icon('far', 'image', class: 'image_icon fa-lg')
                = f.file_field :image, class: 'chat_text'
              = f.submit 'Send', class: 'chat_btn'

      .chat-wrapper__container__right
