%body
  .chat-wrapper
    .chat-wrapper__header
      .chat-wrapper__header__back
      = link_to("back", root_path, {class: "back"})
      .chat-wrapper__header__title
        Our chat!
      .chat-wrapper__header__list
      = link_to("To List", root_path, {class: "home"})
    .chat-wrapper__container
      .chat-wrapper__container__left
        %h1.chat-wrapper__container__left_author
          作成者：
      .chat-wrapper__container__center
        .chat-wrapper__container__center__upper
        .chat-wrapper__container__center__bottom
          .chat-wrapper__container__center__bottom__ctat-box
            .chat-wrapper__container__center__bottom__ctat-box_name
            .chat-wrapper__container__center__bottom__ctat-box_message
            .chat-wrapper__container__center__bottom__ctat-box_date
        .chat-wrapper__container__center__form
          .chat-wrapper__container__center__form__container
            = form_for [@board, @chat],html:{class:"chat__main__message-form__container__messages"} do |f|
              = f.text_field :content, class: 'form__message', placeholder: 'type a message'
              = f.label :image, class: 'chat__main__message-form__container__messages_icon' do
                = icon('far', 'image', class: 'chat__main__message-form__container__messages_image fa-lg')
                = f.file_field :image, class: 'chat_main__message-form__container__messages_text'
              = f.submit 'Send', class: 'chat__main__message-form__container__send'

      .chat-wrapper__container__right
