
%body
  .home-wrapper
    .home-wrapper__header
      %h1.header-title Welcome!chat-boards
    .home-wrapper__container
      .home-wrapper__link-box
        %ul.link-box__left
          %li.link-box__left_login 
            %h1 login
            - if user_signed_in?
              = link_to("login",boards_path,{class:"font-login"})
            - else
              = link_to(new_user_session_path,{class:"font-login"})
          %li.link-box__left__create 
            %h1 sign up
            - if user_signed_in?
              = link_to("sign up!",boards_path,{class:"font-sign_up"})
            - else
              = link_to(new_user_session_path,{class:"font-sign_up"})
        %ul.link-box__right
          %li.link-box__right_facebook
            %h1 facebook
            = link_to("facebook","https://ja-jp.facebook.com/", {class: "facebook-font"})
          %li.link-box__right_twitter
            %h1 twitter
            = link_to("twitter","https://twitter.com/login?lang=ja", {class: "twitter-font"})


