%body
= @boards.each do |board|
  .group-wrapper
    .group-wrapper__header
      %h1.header-title
        Welcome!　chat-boards
    .group-wrapper__container
      .group-wrapper__container__left
        .group-wrapper__container__left__new
        = link_to("make board!", new_board_path, {class: "new"})
      .group-wrapper__container__right
        .group-wrapper__container__right__home
        = link_to("HOME", new_board_path, {class: "home"})
      .group-wrapper__container__center
        board一覧
        .group-wrapper__container__center__box
          .group-wrapper__container__center__box__user
            username
          .group-wrapper__container__center__box__title
          = link_to new_board_path, {class: :link_show} do
            = board.title
            
            -# = link_to '果物 - Wikipedia', "https://ja.wikipedia.org/wiki/果物", { :class => "outer", :target => "_blank"}

