%body
  .group-wrapper
    .group-wrapper__header
      %h1.header-title
        Welcome!　chat-boards
    .group-wrapper__container
      .group-wrapper__container__left
        = link_to("make board!", new_board_path, {class: "group-wrapper__container__left__new"})
      .group-wrapper__container__center
        - @boards.each do |board|
          - @users.each do |user|
            .group-wrapper__container__center__box
              .group-wrapper__container__center__box__user
                = user.name
              .group-wrapper__container__center__box__title
              = link_to board_path(board.id), {class: :link_show} do
                = board.title
      %ul.group-wrapper__container__right
        %li.group-wrapper__container__right__home
        = link_to "HOME", root_path, class: "home"
        = link_to "Log out", destroy_user_session_path, method: :delete, class:'group-wrapper__container__right__log-out'



